<p id="notice"><%= notice %></p>

<p>
  <strong>To:</strong>
  <%= @ride.to %>
</p>

<p>
  <strong>From:</strong>
  <%= @ride.from %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @ride.departure_time %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
